# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules
yarn.lock

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
config.env
.env
.env.*
!.env.example
